    <%- include('partials/header.ejs') %>

    <section class="noticia-destaque">
        <div class="center">
            <a href="<%= posts[0].slug %>">
                <div class="img-destaque">
                    <img src="<%= posts[0].image %>" alt="">
                    <div class="author">
                        <img src="/public/assets/author.jpg" alt="">
                        <h4>Por <%= posts[0].autor %></h4>
                    </div>
                    <div class="title-destaque">
                        <h2><%= posts[0].title %></h2>
                        <p><%- posts[0].description %>...</p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section class="another-noticies">
        <h2>Últimas notícias</h2>
        <div class="center">
            <div class="notice-container">

                <% for(let i = 1; i < posts.length; i++){ %>
                    <div class="notice-box">
                        <img src="<%= posts[i].image %>" alt="">
                        <div class="content-box">
                            <h5><%= posts[i].category %></h5>
                            <h3><%= posts[i].title %></h3>
                            <p><%- posts[i].description %>...</p>
                            <div class="author">
                                <div class="author-box">
                                    <img src="/public/assets/author.jpg" alt="">
                                    <h4>Por <%= posts[i].autor %></h4>
                                </div>
                                <a href="<%= posts[i].slug %>">Ler mais</a>
                            </div>
                        </div>
                    </div>
                <% } %>
                
            </div>
            <div class="most-read">
                <div class="most-read-top">
                    <h3>Mais lidas</h3>
                </div>

                <div class="most-read-container">
                    <% for(let i = 0; i < postsTop.length; i++){ %>
                        <div class="most-read-single">
                            <img src="<%= postsTop[i].image %>" alt="">
                            <div class="content-most-read">
                                <h6><%= postsTop[i].category %></h6>
                                <h5><%= postsTop[i].title %></h5>
                                <div>
                                    <span class="views"><%= postsTop[i].views %><img src="/public/assets/view.png"></span>
                                    <a href="<%= postsTop[i].slug %>">Ler mais</a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
                
            </div>
        </div>
    </section>

    <%- include('partials/footer.ejs') %>